.card {
  position: relative;
  width: 200px;
  margin: 16px;

  border-radius: 4px;
  box-sizing: border-box;
  overflow: hidden;
  cursor: pointer;
  padding: 4px;
}

.card-poster {
  width: 100%;
  height: 250px;
}

.card-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 14px;

  &__front {
    display: flex;
    justify-content: start;

    width: 100%;
    height: 110px;
    padding: 10px;
    background-color: #e5e2f1;

    &__front-info {
      display: flex;
      flex-direction: column;

      &__title {
        width: 120px;
      }

      &__year {
        justify-content: end;
      }
    }

    &__rating {
      position: absolute;
      width: 30px;
      height: 30px;

      display: flex;
      justify-content: center;
      align-items: center;

      right: 20px;
      bottom: 20px;

      font-weight: 700;
      background-color: #a596db;
      border-radius: 50%;
      border: 1px solid #7E5AFF;
    }
  }

  &__back {
    position: absolute;
    max-height: 100%;
    font-size: 16px;

    left: 0;
    bottom: 0;
    padding: 10px;

    background-color: #a596db;
    border: 1px solid #7E5AFF;
    opacity: 0.9;
    box-sizing: border-box;
    transition: all 0.4s ease-in-out;
    overflow-y: auto;
    transform: translateY(101%);
  }

  .card-block:hover &__back {
    transform: translateY(0%);
  }
}
